<div class="create-visit-container">

  <h1 align="center">View Visit Details</h1>

  <div class="visit-header">
    <h2 class="inline-block pl-20 pr-20">Laboratory Visit ID: {{visit?.id}}</h2>
    <h2 class="inline-block pr-20 pl-20">Visit Date: {{visit?.created_at | date:'dd/MM/yyyy'}}</h2>
  </div>

  <div class="main-container">
    <div class="left-container">
      <h2>Patient Data:</h2>
      <p>Name: <span>{{patient?.name}}</span></p>
      <p>Mobile Number: <span>{{patient?.mobile_number}}</span></p>
      <p>Gender: {{patient?.gender}}</p>
      <p>E-mail: {{patient?.email}}</p>
      <p>Birth date: {{patient?.birth_date | date:'dd/MM/yyyy'}}</p>
      <p>Age: {{patient?.age}}</p>
    </div>
    <div class="right-container">
      <h3>LabNames:</h3>
      <div class="tests-container">

        <div class="test-container" *ngFor="let item of createdItems;let i=index">
          {{item.name}}
          <!-- <button mat-raised-button color="primary" class="remove-button" (click)="createdItems.splice(i,1)">Remove</button> -->

        </div>
      </div>

      <div class="pb-20">

        <h3 class="nomargin">Notes:</h3>
        <p>{{visit?.notes || 'no given notes'}}</p>
      </div>
    </div>



  </div>

</div>

<div class="action-buttons-container">

  <div class="form-enter-button inline-block pt-20" align="center">
    <button mat-raised-button color="primary" class="enter-button" (click)="eidtVisit()">Edit</button>
  </div>


</div>